<p-dialog
  header="{{ translations.login_passwordChange() }}"
  [modal]="true"
  [(visible)]="dialogVisible"
  [draggable]="false"
  [resizable]="false"
  styleClass="w-[23rem]">
  <div class="mt-8 mb-8 flex items-center gap-3">
    <i class="fa-solid fa-key"></i>
    <p-floatLabel>
      <p-password
        type="text"
        id="oldPassword"
        [class]="
          oldPasswordValid ? 'flex-auto' : 'ng-invalid ng-dirty flex-auto'
        "
        [(ngModel)]="oldPassword"
        [feedback]="false"
        [toggleMask]="true"
        (keypress)="onKeyPress($event)" />
      <label for="oldPassword" class="w-6rem font-semibold">{{
        translations.login_passwordOld()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="mb-8 flex items-center gap-3">
    <i class="fa-solid fa-key"></i>
    <p-floatLabel>
      <p-password
        type="text"
        id="newPassword"
        class="flex-auto"
        [(ngModel)]="newPassword"
        [feedback]="false"
        [toggleMask]="true"
        (keypress)="onKeyPress($event)" />
      <label for="newPassword" class="w-6rem font-semibold">{{
        translations.login_passwordNew()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="mb-8 flex items-center gap-3">
    <i class="fa-solid fa-key"></i>
    <p-floatLabel>
      <p-password
        type="text"
        id="repeatNewPassword"
        [class]="
          repeatNewPasswordValid ? 'flex-auto' : 'ng-invalid ng-dirty flex-auto'
        "
        [(ngModel)]="repeatNewPassword"
        [feedback]="false"
        [toggleMask]="true"
        (keypress)="onKeyPress($event)" />
      <label for="repeatNewPassword" class="w-6rem font-semibold">{{
        translations.login_passwordRepeat()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-end gap-4">
    <p-button
      icon="fa-solid fa-xmark"
      severity="secondary"
      [pTooltip]="translations.cancel()"
      [tooltipPosition]="'bottom'"
      [showDelay]="1000"
      [rounded]="true"
      (onClick)="onCancel()" />
    <p-button
      icon="{{ loading() ? 'fa-solid fa-spinner' : 'fa-solid fa-floppy-disk' }}"
      class="{{ loading() ? 'animate-spin' : '' }}"
      severity="success"
      [pTooltip]="translations.save()"
      [tooltipPosition]="'bottom'"
      [showDelay]="1000"
      [rounded]="true"
      [disabled]="
        !oldPassword || !newPassword || !repeatNewPassword || loading()
      "
      (click)="changePassword()" />
  </div>
</p-dialog>
