<p-dialog
  header="{{ translations.login_passwordChange() }}"
  [modal]="true"
  [(visible)]="dialogVisible"
  [draggable]="false"
  [resizable]="false"
  styleClass="w-[23rem]"
>
  <div class="flex items-center gap-3 mb-8 mt-8">
    <span class="i-[mdi--key-variant]"></span>
    <p-floatLabel>
      <p-password
        type="text"
        id="oldPassword"
        [class]="oldPasswordValid ? 'flex-auto' : 'flex-auto ng-invalid ng-dirty'"
        [(ngModel)]="oldPassword"
        [feedback]="false"
        [toggleMask]="true"
        (keypress)="onKeyPress($event)"
      />
      <label for="oldPassword" class="font-semibold w-6rem">{{
        translations.login_passwordOld()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="flex items-center gap-3 mb-8">
    <span class="i-[mdi--key-variant]"></span>
    <p-floatLabel>
      <p-password
        type="text"
        id="newPassword"
        class="flex-auto"
        [(ngModel)]="newPassword"
        [feedback]="false"
        [toggleMask]="true"
        (keypress)="onKeyPress($event)"
      />
      <label for="newPassword" class="font-semibold w-6rem">{{
        translations.login_passwordNew()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="flex items-center gap-3 mb-8">
    <span class="i-[mdi--key-variant]"></span>
    <p-floatLabel>
      <p-password
        type="text"
        id="repeatNewPassword"
        [class]="repeatNewPasswordValid ? 'flex-auto' : 'flex-auto ng-invalid ng-dirty'"
        [(ngModel)]="repeatNewPassword"
        [feedback]="false"
        [toggleMask]="true"
        (keypress)="onKeyPress($event)"
      />
      <label for="repeatNewPassword" class="font-semibold w-6rem">{{
        translations.login_passwordRepeat()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-end gap-4">
    <p-button icon="i-[mdi--cancel]" severity="secondary" (onClick)="onCancel()" [rounded]="true" />
    <p-button
      icon="{{ loading() ? 'i-[mdi--loading]' : 'i-[mdi--content-save]' }}"
      class="{{ loading() ? 'animate-spin' : '' }}"
      [rounded]="true"
      (click)="changePassword()"
      [disabled]="!oldPassword || !newPassword || !repeatNewPassword || loading()"
    />
  </div>
</p-dialog>
