<dialog class="modal" [open]="dialogVisible()">
  <div class="modal-box w-sm">
    <p class="text-xl font-bold">
      {{ translations.login_passwordChange() }}
    </p>
    <fieldset class="fieldset text-lg">
      <label for="oldPassword" class="label">
        <i class="fa-solid fa-key"></i>
        {{ translations.login_passwordOld() }}
      </label>
      <input
        id="oldPassword"
        type="password"
        class="input w-full {{ oldPasswordValid() ? '' : 'input-error' }}"
        [(ngModel)]="oldPassword"
        (keydown)="onKeyPress($event)" />
      <label for="newPassword" class="label">
        <i class="fa-solid fa-key"></i>
        {{ translations.login_passwordNew() }}
      </label>
      <input
        id="newPassword"
        type="password"
        class="input w-full"
        [(ngModel)]="newPassword"
        (keydown)="onKeyPress($event)" />
      <label for="repeatNewPassword" class="label">
        <i class="fa-solid fa-key"></i>
        {{ translations.login_passwordRepeat() }}
      </label>
      <input
        id="repeatNewPassword"
        type="password"
        class="input w-full {{ repeatNewPasswordValid() ? '' : 'input-error' }}"
        [(ngModel)]="repeatNewPassword"
        (keydown)="onKeyPress($event)" />
    </fieldset>
    <div class="modal-action">
      <button
        class="btn btn-circle btn-neutral lg:tooltip text-xl"
        [tooltip]="translations.cancel()"
        (click)="onCancel()">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <button
        class="btn btn-circle btn-primary lg:tooltip text-xl"
        [tooltip]="translations.save()"
        [disabled]="
          !oldPassword || !newPassword || !repeatNewPassword || loading()
        "
        (click)="changePassword()">
        <i
          class="{{
            loading()
              ? 'fa-solid fa-spinner animate-spin'
              : 'fa-solid fa-floppy-disk'
          }}"></i>
      </button>
    </div>
  </div>
</dialog>
