@import 'tailwindcss';
@source "../node_modules/daisyui-toaster";
@plugin "daisyui" {
  themes: business --default;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  @supports (font: -apple-system-body) {
    font: -apple-system-body;
  }

  input:focus {
    outline: none;
    outline-offset: 0;
  }
}
