@import 'tailwindcss';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  @supports (font: -apple-system-body) {
    font: -apple-system-body;
  }
}

.p-card-body {
  @apply flex h-full flex-col gap-5 p-4;
}

.p-card-content {
  @apply flex min-h-0 grow flex-col gap-5 p-0;
}

.p-dialog .p-dialog-content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}
