<p-dialog
  header="{{ translations.reading_reading() }}"
  [modal]="true"
  [(visible)]="dialogVisible"
  [draggable]="false"
  [resizable]="false"
  styleClass="w-[23rem]"
>
  <div class="flex items-center gap-3 mb-8 mt-8">
    <span class="i-[mdi--counter]"></span>
    <p-floatLabel class="w-64">
      <p-inputNumber
        pInputNumber
        inputId="number"
        class="flex-auto"
        [(ngModel)]="number"
        autocomplete="off"
        (keypress)="onKeyPress($event)"
        locale="de-de"
        [useGrouping]="false"
        [minFractionDigits]="0"
        [maxFractionDigits]="3"
      />
      <label for="number" class="font-semibold w-6rem">{{ translations.reading_reading() }}</label>
    </p-floatLabel>
  </div>
  <div class="flex items-center gap-3 mb-8">
    <span class="i-[mdi--calendar]"></span>
    <p-floatLabel class="w-64">
      <p-calendar
        id="readingDate"
        [(ngModel)]="readingDate"
        [touchUI]="true"
        [showIcon]="true"
        [showOnFocus]="false"
        [maxDate]="currentDate"
        dateFormat="dd.mm.yy"
      />
      <label for="readingDate" class="font-semibold w-6rem">{{
        translations.reading_readingDate()
      }}</label>
    </p-floatLabel>
  </div>
  @if (hasReadingForDate()) {
    <div class="flex items-center gap-3 mb-8">
      <span class="i-[mdi--alert-circle]"></span>
      <p-floatLabel>
        <span class="text-red-500">{{ translations.reading_error_alreadyExists() }}</span>
      </p-floatLabel>
    </div>
  }
  <div class="flex justify-end gap-4">
    @if (existingReading) {
      <p-button
        icon="i-[mdi--delete]"
        severity="danger"
        [pTooltip]="translations.delete()"
        [tooltipPosition]="'bottom'"
        [showDelay]="1000"
        [rounded]="true"
        (onClick)="confirmDeleteReading()"
      />
    }
    <p-button
      icon="i-[mdi--cancel]"
      severity="secondary"
      [pTooltip]="translations.cancel()"
      [tooltipPosition]="'bottom'"
      [showDelay]="1000"
      [rounded]="true"
      (onClick)="onCancel()"
    />
    <p-button
      icon="i-[mdi--content-save]"
      [pTooltip]="translations.save()"
      [tooltipPosition]="'bottom'"
      [showDelay]="1000"
      [rounded]="true"
      [disabled]="!number || !readingDate() || !hasReadingChanged() || hasReadingForDate()"
      (onClick)="onSave()"
    />
  </div>
</p-dialog>
