<p-dialog
  header="{{ translations.reading_reading() }}"
  [modal]="true"
  [(visible)]="dialogVisible"
  [draggable]="false"
  [resizable]="false"
  styleClass="w-[25rem]"
>
  <div class="flex items-center gap-3 mb-8 mt-8">
    <span class="i-[mdi--counter]"></span>
    <p-floatLabel>
      <p-inputNumber
        pInputNumber
        inputId="number"
        class="flex-auto"
        [(ngModel)]="number"
        autocomplete="off"
        (keypress)="onKeyPress($event)"
        locale="de-de"
        [minFractionDigits]="0"
        [maxFractionDigits]="3"
      />
      <label for="number" class="font-semibold w-6rem">{{ translations.reading_reading() }}</label>
    </p-floatLabel>
  </div>
  <div class="flex items-center gap-3 mb-8">
    <span class="i-[mdi--calendar]"></span>
    <p-floatLabel>
      <p-calendar
        id="readingDate"
        [(ngModel)]="readingDate"
        [touchUI]="true"
        [maxDate]="currentDate"
        dateFormat="dd.mm.yy"
      />
      <label for="readingDate" class="font-semibold w-6rem">{{
        translations.reading_readingDate()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-end gap-4">
    @if (existingReading) {
      <p-button
        icon="i-[mdi--delete]"
        severity="danger"
        (onClick)="confirmDeleteReading()"
        [rounded]="true"
      />
    }
    <p-button icon="i-[mdi--cancel]" severity="secondary" (onClick)="onCancel()" [rounded]="true" />
    <p-button
      icon="i-[mdi--content-save]"
      (onClick)="onSave()"
      [rounded]="true"
      [disabled]="!number || !readingDate || !hasReadingChanged()"
    />
  </div>
</p-dialog>
