<dialog class="modal" [open]="dialogVisible()">
  <div class="modal-box w-sm">
    <p class="mb-4 text-center text-xl font-bold">
      {{ translations.reading_reading() }}
    </p>
    <fieldset class="fieldset text-lg">
      <label for="number" class="label">
        <i class="fa-solid fa-gauge"></i>
        {{ translations.reading_reading() }}
      </label>
      <input
        id="number"
        type="number"
        class="input w-full"
        [(ngModel)]="number"
        autocomplete="off"
        (keypress)="onKeyPress($event)"
        locale="de-de" />
      <label for="readingDate" class="label">
        <i class="fa-solid fa-calendar-days"></i>
        {{ translations.reading_readingDate() }}
      </label>
      <input
        id="readingDate"
        type="date"
        class="input w-full"
        [(ngModel)]="readingDate" />
      @if (hasReadingForDate()) {
        <div class="mb-8 flex items-center gap-3">
          <i class="fa-solid fa-circle-exclamation"></i>
          <span class="text-red-500">
            {{ translations.reading_error_alreadyExists() }}
          </span>
        </div>
      }
    </fieldset>
    <div class="modal-action">
      @if (existingReading) {
        <button
          class="btn btn-error btn-circle lg:tooltip text-xl"
          [tooltip]="translations.delete()"
          (click)="confirmDeleteReading()">
          <i class="fa-solid fa-trash"></i>
        </button>
      }
      <button
        class="btn btn-neutral btn-circle lg:tooltip text-xl"
        [tooltip]="translations.cancel()"
        (click)="onCancel()">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <button
        class="lg:tooltip btn btn-circle btn-success text-xl"
        [tooltip]="translations.save()"
        [disabled]="
          !number ||
          !readingDate() ||
          !hasReadingChanged() ||
          hasReadingForDate()
        "
        (click)="onSave()">
        <i
          class="{{
            loading()
              ? 'fa-solid fa-spinner animate-spin'
              : 'fa-solid fa-floppy-disk'
          }}"></i>
      </button>
    </div>
  </div>
</dialog>
