<p-dialog
  header="{{ translations.login_login() }}"
  [modal]="true"
  [visible]="true"
  [draggable]="false"
  [closable]="false"
  styleClass="w-[23rem]">
  <div class="mt-8 mb-8 flex items-center gap-3">
    <i class="fa-solid fa-user"></i>
    <p-floatLabel>
      <input
        pInputText
        id="username"
        class="flex-auto"
        [(ngModel)]="username"
        autocomplete="off"
        (keypress)="onKeyPress($event)" />
      <label for="username" class="w-6rem font-semibold">{{
        translations.login_username()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="mb-8 flex items-center gap-3">
    <i class="fa-solid fa-key"></i>
    <p-floatLabel>
      <p-password
        type="text"
        id="password"
        class="flex-auto"
        [(ngModel)]="password"
        [feedback]="false"
        (keypress)="onKeyPress($event)" />
      <label for="password" class="w-6rem font-semibold">{{
        translations.login_password()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-end gap-4">
    <p-button
      icon="{{
        loading()
          ? 'fa-solid fa-spinner fa-spin'
          : 'fa-solid fa-right-to-bracket'
      }}"
      class="{{ loading() ? 'animate-spin' : '' }}"
      [pTooltip]="translations.login_login()"
      [tooltipPosition]="'bottom'"
      [showDelay]="1000"
      [rounded]="true"
      [disabled]="!username || !password || loading()"
      (click)="login()" />
  </div>
</p-dialog>
