<p-dialog
  header="{{ translations.login_login() }}"
  [modal]="true"
  [visible]="true"
  [draggable]="false"
  [closable]="false"
  styleClass="w-[23rem]"
>
  <div class="flex items-center gap-3 mb-8 mt-8">
    <span class="i-[mdi--account]"></span>
    <p-floatLabel>
      <input
        pInputText
        id="username"
        class="flex-auto"
        [(ngModel)]="username"
        autocomplete="off"
        (keypress)="onKeyPress($event)"
      />
      <label for="username" class="font-semibold w-6rem">{{ translations.login_username() }}</label>
    </p-floatLabel>
  </div>
  <div class="flex items-center gap-3 mb-8">
    <span class="i-[mdi--key-variant]"></span>
    <p-floatLabel>
      <p-password
        type="text"
        id="password"
        class="flex-auto"
        [(ngModel)]="password"
        [feedback]="false"
        [toggleMask]="true"
        (keypress)="onKeyPress($event)"
      />
      <label for="password" class="font-semibold w-6rem">{{ translations.login_password() }}</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-end gap-4">
    <p-button
      icon="{{ loading() ? 'i-[mdi--loading]' : 'i-[mdi--login]' }}"
      class="{{ loading() ? 'animate-spin' : '' }}"
      [rounded]="true"
      (click)="login()"
      [disabled]="!username || !password || loading()"
    />
  </div>
</p-dialog>
