<p-dialog
  header="Login"
  [modal]="true"
  [(visible)]="visible"
  [closable]="false"
  [draggable]="false"
  [style]="{ width: '' }"
>
  <div class="flex items-center gap-3 mb-8 mt-8">
    <span class="i-[mdi--account]"></span>
    <p-floatLabel>
      <input
        pInputText
        id="username"
        class="flex-auto"
        [(ngModel)]="username"
        autocomplete="off"
        (keypress)="onKeyPress($event)"
      />
      <label for="username" class="font-semibold w-6rem">Username</label>
    </p-floatLabel>
  </div>
  <div class="flex items-center gap-3 mb-8">
    <span class="i-[mdi--key-variant]"></span>
    <p-floatLabel>
      <p-password
        type="text"
        id="password"
        class="flex-auto"
        [(ngModel)]="password"
        [feedback]="false"
        (keypress)="onKeyPress($event)"
      />
      <label for="password" class="font-semibold w-6rem">Password</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Login" (onClick)="login()" [disabled]="!username || !password" />
  </div>
</p-dialog>
