<div class="flex h-full flex-col overflow-hidden">
  @if (dataStore.isTokenValid()) {
    <div class="navbar bg-base-100 h-[64px] shadow-sm">
      <div class="flex-1">
        <p class="ml-4 text-xl">{{ translations.meterReadings() }}</p>
      </div>
      <div class="flex-none">
        <div class="flex items-center gap-4">
          <ul class="menu menu-horizontal text-xl">
            <li>
              <details>
                <summary>{{ dataStore.getUserName() }}</summary>
                <ul class="bg-base-100 rounded-t-none p-2">
                  <li>
                    <a (click)="changePasswordDialog().showDialog()">{{
                      translations.login_passwordChange()
                    }}</a>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
          <button
            class="btn btn-ghost lg:tooltip lg:tooltip-bottom mr-4 text-xl"
            [tooltip]="translations.logout()"
            (click)="logOff()">
            <i class="fa-solid fa-right-from-bracket"></i>
          </button>
        </div>
      </div>
    </div>
  }
  <div
    class="bg-base-300 overflow-auto"
    [ngClass]="dataStore.isTokenValid() ? 'h-[calc(100%-64px)]' : 'h-full'">
    <router-outlet></router-outlet>
  </div>
</div>

<app-change-password-dialog></app-change-password-dialog>

<app-confirmation-dialog></app-confirmation-dialog>
<daisyui-toaster></daisyui-toaster>
