<div class="h-screen flex flex-col overflow-hidden">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <span class="ml-4 mr-4"> MeterReading </span>
      <ng-template pTemplate="item" let-item let-root="root">
        <a pRipple class="flex align-items-center p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <span
            *ngIf="item.shortcut"
            class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
            >{{ item.shortcut }}</span
          >
          <i
            *ngIf="item.items"
            [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"
          ></i>
        </a>
      </ng-template>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button icon="i-[mdi--logout]" class="mr-4" [rounded]="true" (click)="logOff()" />
    </ng-template>
  </p-menubar>
  <div class="router-content m-4 overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>

<p-toast />
