<p-dialog
  header="{{ translations.meter_meter() }}"
  [modal]="true"
  [(visible)]="dialogVisible"
  [draggable]="false"
  [resizable]="false"
  styleClass="w-[23rem]">
  <div class="mt-8 mb-8 flex items-center gap-3">
    <i class="fa-solid fa-house"></i>
    <p-floatLabel>
      <input
        pInputText
        id="location"
        class="flex-auto"
        [(ngModel)]="location"
        autocomplete="off"
        (keypress)="onKeyPress($event)" />
      <label for="location" class="w-6rem font-semibold">{{
        translations.meter_location()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="mb-8 flex items-center gap-3">
    <i class="fa-solid fa-barcode"></i>
    <p-floatLabel>
      <input
        pInputText
        id="meterNumber"
        class="flex-auto"
        [(ngModel)]="meterNumber"
        autocomplete="off"
        (keypress)="onKeyPress($event)" />
      <label for="meterNumber" class="w-6rem font-semibold">{{
        translations.meter_number()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="mb-8 flex items-center gap-3">
    <i class="fa-solid fa-file-invoice"></i>
    <p-floatLabel>
      <input
        pInputText
        id="addition"
        class="flex-auto"
        [(ngModel)]="addition"
        autocomplete="off"
        (keypress)="onKeyPress($event)" />
      <label for="addition" class="w-6rem font-semibold">{{
        translations.meter_addition()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="mb-8 flex items-center gap-4">
    <div class="flex items-center">
      <p-radioButton
        name="type"
        [value]="0"
        [(ngModel)]="type"
        inputId="electricity" />
      <label for="electricity" class="ml-2">
        {{ translations.meter_type_electricity() }}
      </label>
    </div>

    <div class="flex items-center">
      <p-radioButton
        name="type"
        [value]="1"
        [(ngModel)]="type"
        inputId="water" />
      <label for="water" class="ml-2">
        {{ translations.meter_type_water() }}
      </label>
    </div>

    <div class="flex items-center">
      <p-radioButton name="type" [value]="2" [(ngModel)]="type" inputId="gas" />
      <label for="gas" class="ml-2">
        {{ translations.meter_type_gas() }}
      </label>
    </div>
  </div>
  @if (existingMeter) {
    <div class="mb-8 flex items-center gap-3">
      <i class="fa-solid fa-user-plus"></i>
      <p-floatLabel>
        <input
          pInputText
          id="shareUser"
          class="flex-auto"
          [(ngModel)]="shareUsername"
          autocomplete="off"
          (keypress)="onShareKeyPress($event)" />
        <label for="shareUser" class="w-6rem font-semibold">{{
          translations.meterShare_share()
        }}</label>
      </p-floatLabel>
      <p-button
        icon="fa-solid fa-share"
        [pTooltip]="translations.meterShare_share()"
        [tooltipPosition]="'bottom'"
        [showDelay]="1000"
        [rounded]="true"
        [disabled]="!shareUsername || shareUsername === ''"
        (onClick)="shareMeter()" />
    </div>
    <p-listbox
      [options]="sharedMeters()"
      optionLabel="username"
      [filter]="true"
      styleClass="mb-8">
      <ng-template pTemplate="username" let-sharedMeter #item>
        <div class="flex items-center gap-4">
          <div>{{ sharedMeter.username }}</div>
          <p-button
            icon="fa-solid fa-trash"
            severity="danger"
            [pTooltip]="translations.meterShare_revoke()"
            [tooltipPosition]="'bottom'"
            [showDelay]="1000"
            [rounded]="true"
            (onClick)="confirmRevokeShare(sharedMeter)" />
        </div>
      </ng-template>
    </p-listbox>
  }
  <div class="flex justify-end gap-4">
    @if (existingMeter) {
      <p-button
        icon="fa-solid fa-trash"
        severity="danger"
        [pTooltip]="translations.delete()"
        [tooltipPosition]="'bottom'"
        [showDelay]="1000"
        [rounded]="true"
        (onClick)="confirmDeleteMeter()" />
    }
    <p-button
      icon="fa-solid fa-xmark"
      severity="secondary"
      [pTooltip]="translations.cancel()"
      [tooltipPosition]="'bottom'"
      [showDelay]="1000"
      [rounded]="true"
      (onClick)="onCancel()" />
    <p-button
      icon="fa-solid fa-floppy-disk"
      severity="success"
      [pTooltip]="translations.save()"
      [tooltipPosition]="'bottom'"
      [showDelay]="1000"
      [rounded]="true"
      [disabled]="!location || type === undefined || !hasMeterChanged()"
      (onClick)="onSave()" />
  </div>
</p-dialog>
