<dialog class="modal" [open]="dialogVisible()">
  <div class="modal-box w-sm">
    <p class="mb-4 text-center text-xl font-bold">
      {{ translations.meter_meter() }}
    </p>
    <fieldset class="fieldset text-lg">
      <label for="location" class="label">
        <i class="fa-solid fa-house"></i>
        {{ translations.meter_location() }}
      </label>
      <input
        id="location"
        class="input w-full"
        [(ngModel)]="location"
        autocomplete="off"
        (keypress)="onKeyPress($event)" />
      <label for="meterNumber" class="label">
        <i class="fa-solid fa-barcode"></i>
        {{ translations.meter_number() }}
      </label>
      <input
        id="meterNumber"
        class="input w-full"
        [(ngModel)]="meterNumber"
        autocomplete="off"
        (keypress)="onKeyPress($event)" />
      <label for="addition" class="label">
        <i class="fa-solid fa-file-invoice"></i>
        {{ translations.meter_addition() }}
      </label>
      <input
        id="addition"
        class="input w-full"
        [(ngModel)]="addition"
        autocomplete="off"
        (keypress)="onKeyPress($event)" />
      <div class="mt-4 mb-4 flex flex-row justify-between gap-4">
        <div>
          <input
            id="electricity"
            type="radio"
            name="type"
            [value]="0"
            [(ngModel)]="type" />
          <label for="electricity" class="label ml-2">
            {{ translations.meter_type_electricity() }}
          </label>
        </div>
        <div>
          <input
            id="water"
            type="radio"
            name="type"
            [value]="1"
            [(ngModel)]="type" />
          <label for="water" class="label ml-2">
            {{ translations.meter_type_water() }}
          </label>
        </div>
        <div>
          <input
            id="gas"
            type="radio"
            name="type"
            [value]="2"
            [(ngModel)]="type" />
          <label for="gas" class="label ml-2">
            {{ translations.meter_type_gas() }}
          </label>
        </div>
      </div>
      @if (existingMeter) {
        <label for="shareUser" class="label">
          <i class="fa-solid fa-user-plus"></i>
          {{ translations.meterShare_share() }}
        </label>
        <div class="join w-full">
          <input
            id="shareUser"
            class="input join-item w-full"
            [(ngModel)]="shareUsername"
            autocomplete="off"
            (keypress)="onShareKeyPress($event)" />
          <button
            class="btn btn-primary btn-circle join-item lg:tooltip"
            [tooltip]="translations.meterShare_share()"
            [disabled]="!shareUsername || shareUsername === ''"
            (click)="shareMeter()">
            <i class="fa-solid fa-share"></i>
          </button>
        </div>
        <ul class="mt-2 flex flex-col gap-2">
          @for (sharedMeter of sharedMeters(); track sharedMeter.meterId) {
            <li>
              <div class="flex items-center justify-end gap-4">
                <div>{{ sharedMeter.username }}</div>
                <button
                  class="btn btn-circle btn-error lg:tooltip lg:tooltip-left"
                  [tooltip]="translations.meterShare_revoke()"
                  (click)="confirmRevokeShare(sharedMeter)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </li>
          }
        </ul>
      }
    </fieldset>
    <div class="modal-action">
      @if (existingMeter) {
        <button
          class="btn btn-error btn-circle lg:tooltip text-xl"
          [tooltip]="translations.delete()"
          (click)="confirmDeleteMeter()">
          <i class="fa-solid fa-trash"></i>
        </button>
      }
      <button
        class="btn btn-circle btn-neutral lg:tooltip text-xl"
        [tooltip]="translations.cancel()"
        (click)="onCancel()">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <button
        class="btn btn-circle btn-success lg:tooltip text-xl"
        [tooltip]="translations.save()"
        [disabled]="!location || type === undefined || !hasMeterChanged()"
        (click)="onSave()">
        <i
          class="{{
            loading()
              ? 'fa-solid fa-spinner animate-spin'
              : 'fa-solid fa-floppy-disk'
          }}"></i>
      </button>
    </div>
  </div>
</dialog>
