<p-dialog
  header="{{ translations.meter_meter() }}"
  [modal]="true"
  [(visible)]="dialogVisible"
  [draggable]="false"
  [resizable]="false"
  styleClass="w-[23rem]"
>
  <div class="flex items-center gap-3 mb-8 mt-8">
    <span class="i-[mdi--home-map-marker]"></span>
    <p-floatLabel>
      <input
        pInputText
        id="location"
        class="flex-auto"
        [(ngModel)]="location"
        autocomplete="off"
        (keypress)="onKeyPress($event)"
      />
      <label for="location" class="font-semibold w-6rem">{{ translations.meter_location() }}</label>
    </p-floatLabel>
  </div>
  <div class="flex items-center gap-3 mb-8">
    <span class="i-[mdi--barcode-scan]"></span>
    <p-floatLabel>
      <input
        pInputText
        id="meterNumber"
        class="flex-auto"
        [(ngModel)]="meterNumber"
        autocomplete="off"
        (keypress)="onKeyPress($event)"
      />
      <label for="meterNumber" class="font-semibold w-6rem">{{
        translations.meter_number()
      }}</label>
    </p-floatLabel>
  </div>
  <div class="flex items-center gap-3 mb-8">
    <span class="i-[mdi--invoice-text-plus]"></span>
    <p-floatLabel>
      <input
        pInputText
        id="addition"
        class="flex-auto"
        [(ngModel)]="addition"
        autocomplete="off"
        (keypress)="onKeyPress($event)"
      />
      <label for="addition" class="font-semibold w-6rem">{{ translations.meter_addition() }}</label>
    </p-floatLabel>
  </div>
  <div class="flex items-center gap-4 mb-8">
    <div class="flex items-center">
      <p-radioButton name="type" [value]="0" [(ngModel)]="type" inputId="electricity" />
      <label for="electricity" class="ml-2"> {{ translations.meter_type_electricity() }} </label>
    </div>

    <div class="flex items-center">
      <p-radioButton name="type" [value]="1" [(ngModel)]="type" inputId="water" />
      <label for="water" class="ml-2"> {{ translations.meter_type_water() }} </label>
    </div>

    <div class="flex items-center">
      <p-radioButton name="type" [value]="2" [(ngModel)]="type" inputId="gas" />
      <label for="gas" class="ml-2"> {{ translations.meter_type_gas() }} </label>
    </div>
  </div>
  <div class="flex justify-end gap-4">
    @if (existingMeter) {
      <p-button
        icon="i-[mdi--delete]"
        severity="danger"
        (onClick)="confirmDeleteMeter()"
        [rounded]="true"
      />
    }
    <p-button icon="i-[mdi--cancel]" severity="secondary" (onClick)="onCancel()" [rounded]="true" />
    <p-button
      icon="i-[mdi--content-save]"
      (onClick)="onSave()"
      [rounded]="true"
      [disabled]="!location || type === undefined || !hasMeterChanged()"
    />
  </div>
</p-dialog>
