<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="home" class="nav-link">
        <cds-icon shape="vm-bug"></cds-icon>
        <span cds-text="headline">JJSware</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="user"></cds-icon>
          <span class="nav-text">{{ 'profile' | transloco }}</span>
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
              <cds-icon shape="world"></cds-icon>
              <span class="nav-text">{{ 'language' | transloco }}</span>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="left-top">
              @for (item of languages; track item) {
                <button class="btn btn-link" (click)="setActiveLang(item)">
                  {{ 'languages.' + item | transloco }}
                </button>
              }
            </clr-dropdown-menu>
          </clr-dropdown>
          <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
              <cds-icon shape="pencil"></cds-icon>
              <span class="nav-text">{{ 'theme' | transloco }}</span>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="left-top">
              @for (theme of themes; track theme) {
                <button class="btn btn-icon" (click)="setTheme(theme)">
                  @if (theme === 'light') {
                    <cds-icon shape="sun"></cds-icon>
                  } @else {
                    <cds-icon shape="moon"></cds-icon>
                  }
                  {{ 'themes.' + theme | transloco }}
                </button>
              }
            </clr-dropdown-menu>
          </clr-dropdown>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content content-container">
    <div class="content-area">
      <router-outlet />
    </div>
    <clr-vertical-nav
      [clr-nav-level]="1"
      [clrVerticalNavCollapsible]="true"
      class="nav-trigger--bottom"
    >
      <a clrVerticalNavLink routerLink="home">
        <cds-icon clrVerticalNavIcon shape="home"></cds-icon>
        {{ 'nav.home' | transloco }}
      </a>
      <a clrVerticalNavLink routerLink="meter-list">
        <cds-icon clrVerticalNavIcon shape="view-list"></cds-icon>
        {{ 'nav.meter-list' | transloco }}
      </a>
      <a clrVerticalNavLink routerLink="analytics">
        <cds-icon clrVerticalNavIcon shape="line-chart"></cds-icon>
        {{ 'nav.analytics' | transloco }}
      </a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink routerLink="settings">
        <cds-icon clrVerticalNavIcon shape="cog"></cds-icon>
        {{ 'nav.settings' | transloco }}
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
