<div class="h-full w-full overflow-hidden">
  <div class="flex h-full flex-col overflow-hidden">
    <p class="m-4 text-2xl">{{ translations.meter_meters() }}</p>
    <div class="max-h-fit flex-1 overflow-auto">
      <table class="table-pin-rows table h-full">
        <thead>
          <tr>
            <th style="width: 25%">{{ translations.meter_type_type() }}</th>
            <th style="width: auto">{{ translations.meter_location() }}</th>
            <th style="width: auto">{{ translations.meter_addition() }}</th>
            <th style="width: 5rem">
              <button
                class="btn btn-primary btn-circle lg:tooltip lg:tooltip-left"
                [tooltip]="translations.add()"
                (click)="showNewDialog()">
                <i class="fa-solid fa-plus"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (meter of dataStore.meters(); track meter.id) {
            <tr>
              <td class="hover:cursor-pointer" (click)="onRowSelect(meter.id)">
                <i
                  class="{{
                    meter.type === 0
                      ? 'fa-solid fa-bolt'
                      : meter.type === 1
                        ? 'fa-solid fa-droplet'
                        : 'fa-solid fa-fire-extinguisher'
                  }}"></i>
              </td>
              <td class="hover:cursor-pointer" (click)="onRowSelect(meter.id)">
                <span>{{ meter.location }}</span>
              </td>
              <td class="hover:cursor-pointer" (click)="onRowSelect(meter.id)">
                <span>{{ meter.addition }}</span>
              </td>
              <td>
                <button
                  class="btn btn-circle btn-primary lg:tooltip lg:tooltip-left"
                  [tooltip]="translations.edit()"
                  (click)="showEditDialog(meter)">
                  <i class="fa-solid fa-pencil"></i>
                </button>
              </td>
            </tr>
          }
          @if (dataStore.meters().length === 0) {
            <tr>
              <td colspan="4">{{ translations.noRecordsFound() }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    @if (dataStore.sharedMeters().length > 0) {
      <div class="divider"></div>
      <p class="m-4 text-2xl">{{ translations.meter_sharedMeters() }}</p>
      <div class="max-h-1/3 overflow-auto">
        <table class="table-pin-rows table h-full">
          <thead>
            <tr>
              <th style="width: 25%">{{ translations.meter_type_type() }}</th>
              <th style="width: auto">{{ translations.meter_location() }}</th>
              <th style="width: auto">{{ translations.meter_addition() }}</th>
              <th style="width: auto">{{ translations.meter_sharedBy() }}</th>
              <th style="width: 5rem"></th>
            </tr>
          </thead>
          <tbody>
            @for (
              sharedMeter of dataStore.sharedMeters();
              track sharedMeter.meter.id
            ) {
              <tr>
                <td
                  class="hover:cursor-pointer"
                  (click)="onRowSelect(sharedMeter.meter.id)">
                  <span
                    class="{{
                      sharedMeter.meter.type === 0
                        ? 'fa-solid fa-bolt'
                        : sharedMeter.meter.type === 1
                          ? 'fa-solid fa-droplet'
                          : 'fa-solid fa-gas-pump'
                    }}"></span>
                </td>
                <td
                  class="hover:cursor-pointer"
                  (click)="onRowSelect(sharedMeter.meter.id)">
                  <span>{{ sharedMeter.meter.location }}</span>
                </td>
                <td
                  class="hover:cursor-pointer"
                  (click)="onRowSelect(sharedMeter.meter.id)">
                  <span>{{ sharedMeter.meter.addition }}</span>
                </td>
                <td
                  class="hover:cursor-pointer"
                  (click)="onRowSelect(sharedMeter.meter.id)">
                  <span>{{ sharedMeter.owner }}</span>
                </td>
                <td>
                  <button
                    class="btn btn-error btn-circle lg:tooltip lg:tooltip-left"
                    [tooltip]="translations.meterShare_revoke()"
                    (click)="confirmRevokeShare(sharedMeter)">
                    <i class="fa-solid fa-link-slash"></i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
</div>

<app-meter-dialog></app-meter-dialog>
