<p-table
  [value]="dataStore.meters()"
  selectionMode="single"
  (onRowSelect)="onRowSelect($event)"
  [tableStyle]="{ 'min-width': '100%' }"
>
  <ng-template pTemplate="caption">
    <div class="flex items-center justify-between">
      Meters
      <p-button icon="i-[mdi--plus]" [rounded]="true" (onClick)="addMeter()" />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Type</th>
      <th>Number</th>
      <th>Location</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-meter>
    <tr [pSelectableRow]="meter">
      <td>
        <span
          class="{{
            meter.type === 0
              ? 'i-[mdi--lightning-bolt]'
              : meter.type === 1
                ? 'i-[mdi--water]'
                : 'i-[mdi--meter-gas]'
          }}"
        ></span>
      </td>
      <td>
        <span>{{ meter.meterNumber }}</span>
      </td>
      <td>
        <span>{{ meter.location }}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
