<div class="content">
  <span>{{ 'meterList.meters' | transloco }}</span>
  <div class="limit-height">
    <clr-datagrid>
      <clr-dg-column clrDgField="id">{{
        'meterList.meter-id' | transloco
      }}</clr-dg-column>
      <clr-dg-column clrDgField="name">{{
        'meterList.meter-name' | transloco
      }}</clr-dg-column>
      <clr-dg-column clrDgField="value">{{
        'meterList.meter-reading' | transloco
      }}</clr-dg-column>
      <clr-dg-column clrDgField="lastUpdate">{{
        'meterList.meter-reading-date' | transloco
      }}</clr-dg-column>

      <clr-dg-row *clrDgItems="let meter of meters" [clrDgItem]="meter">
        <clr-dg-cell>{{ meter.id }}</clr-dg-cell>
        <clr-dg-cell>{{ meter.name }}</clr-dg-cell>
        <clr-dg-cell>{{ meter.value }}</clr-dg-cell>
        <clr-dg-cell>{{ meter.lastUpdate | localizedDate }}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="20">
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
            >{{ 'meterList.meters' | transloco }}
            {{ 'per-page' | transloco }}</clr-dg-page-size
          >
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }}
          {{ 'of' | transloco }} {{ pagination.totalItems }}
          {{ 'meterList.meters' | transloco }}
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
