<p-card [styleClass]="'overflow-hidden h-full flex flex-col'">
  <div class="h-full">
    <div class="flex h-2/5 flex-col">
      <div class="mb-4 flex items-center justify-between">
        <p-button
          (onClick)="navigateBack()"
          icon="fa-solid fa-arrow-left"
          [pTooltip]="translations.back()"
          [tooltipPosition]="'bottom'"
          [showDelay]="1000"
          [rounded]="true"></p-button>
        @if (meter()) {
          <div class="flex flex-row items-center">
            <i
              class="{{
                meter()?.type === 0
                  ? 'fa-solid fa-bolt'
                  : meter()?.type === 1
                    ? 'fa-solid fa-droplet'
                    : 'fa-solid fa-fire-extinguisher'
              }}"></i>
            <span>
              {{ meter()?.location
              }}{{ meter()?.addition ? ' - ' + meter()?.addition : '' }}
              {{ translations.reading_readingDelta() }}</span
            >
          </div>
        }
        <p-autocomplete
          [suggestions]="valuesCountOptions"
          [(ngModel)]="valuesCount" />
      </div>
      <div class="flex-1">
        <p-chart
          type="line"
          [data]="chartData()"
          [options]="chartOptions"
          [height]="'100%'" />
      </div>
    </div>
    <div class="h-3/5">
      <p-table
        [value]="dataStore.readings()"
        [scrollable]="true"
        scrollHeight="flex"
        class="h-full">
        <ng-template pTemplate="caption">
          <div class="hidden items-center justify-between md:flex">
            <span>{{ translations.reading_readings() }}</span>

            @if (dataStore.readings().length > 0) {
              <p-button
                icon="fa-solid fa-file-export"
                [pTooltip]="translations.export()"
                [tooltipPosition]="'bottom'"
                [showDelay]="1000"
                [rounded]="true"
                (onClick)="exportExcel()" />
            }
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>{{ translations.reading_reading() }}</th>
            <th>{{ translations.reading_readingDate() }}</th>
            <th style="width: 5rem">
              <p-button
                icon="fa-solid fa-plus"
                [rounded]="true"
                [pTooltip]="translations.add()"
                [tooltipPosition]="'bottom'"
                [showDelay]="1000"
                (onClick)="showNewDialog()" />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reading>
          <tr [pSelectableRow]="reading">
            <td>
              <span>{{ reading.number | number: '' : 'de' }}</span>
            </td>
            <td>
              <span>{{ reading.readingDate | date: 'dd.MM.yyyy' }}</span>
            </td>
            <td>
              <p-button
                icon="fa-solid fa-pencil"
                [rounded]="true"
                [pTooltip]="translations.edit()"
                [tooltipPosition]="'bottom'"
                [showDelay]="1000"
                (onClick)="showEditDialog(reading)"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3">{{ translations.noRecordsFound() }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>

<app-reading-dialog [meterId]="meterId()"></app-reading-dialog>
