<p-card [styleClass]="'overflow-hidden h-full flex flex-col'">
  <div class="h-full">
    <div class="h-2/5 flex flex-col">
      <div class="flex justify-between mb-4 items-center">
        <p-button
          (onClick)="navigateBack()"
          icon="i-[mdi--arrow-left]"
          [pTooltip]="translations.back()"
          [tooltipPosition]="'bottom'"
          [showDelay]="1000"
          [rounded]="true"
        ></p-button>
        @if (meter()) {
          <div class="flex flex-row items-center">
            <span
              class="{{
                meter()?.type === 0
                  ? 'i-[mdi--lightning-bolt]'
                  : meter()?.type === 1
                    ? 'i-[mdi--water]'
                    : 'i-[mdi--gas-cylinder]'
              }}"
            ></span>
            <span>
              {{ meter()?.location }}{{ meter()?.addition ? ' - ' + meter()?.addition : '' }}
              {{ translations.reading_readingDelta() }}</span
            >
          </div>
        }
        <p-dropdown [options]="valuesCountOptions" [(ngModel)]="valuesCount" />
      </div>
      <div class="flex-1">
        <p-chart type="line" [data]="chartData()" [options]="chartOptions" [height]="'100%'" />
      </div>
    </div>
    <div class="h-3/5">
      <p-table
        [value]="dataStore.readings()"
        [scrollable]="true"
        scrollHeight="flex"
        class="h-full"
      >
        <ng-template pTemplate="caption">
          <div class="hidden md:flex justify-between items-center">
            <span>{{ translations.reading_readings() }}</span>

            @if (dataStore.readings().length > 0) {
              <p-button
                icon="i-[mdi--export]"
                [pTooltip]="translations.export()"
                [tooltipPosition]="'bottom'"
                [showDelay]="1000"
                [rounded]="true"
                (onClick)="exportExcel()"
              />
            }
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>{{ translations.reading_reading() }}</th>
            <th>{{ translations.reading_readingDate() }}</th>
            <th style="width: 5rem">
              <p-button
                icon="i-[mdi--plus]"
                [rounded]="true"
                [pTooltip]="translations.add()"
                [tooltipPosition]="'bottom'"
                [showDelay]="1000"
                (onClick)="showNewDialog()"
              />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reading>
          <tr [pSelectableRow]="reading">
            <td>
              <span>{{ reading.number | number: '' : 'de' }}</span>
            </td>
            <td>
              <span>{{ reading.readingDate | date: 'dd.MM.yyyy' }}</span>
            </td>
            <td>
              <p-button
                icon="i-[mdi--pencil]"
                [rounded]="true"
                [pTooltip]="translations.edit()"
                [tooltipPosition]="'bottom'"
                [showDelay]="1000"
                (onClick)="showEditDialog(reading)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3">{{ translations.noRecordsFound() }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>

<app-reading-dialog [meterId]="meterId()"></app-reading-dialog>
