<div class="flex h-full w-full flex-col overflow-hidden">
  <div class="flex h-2/5 flex-col">
    <div class="mb-4 flex items-center justify-between">
      <button
        (click)="navigateBack()"
        class="btn btn-circle btn-primary lg:tooltip lg:tooltip-right m-4"
        [tooltip]="translations.back()">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      @if (meter()) {
        <div class="flex flex-row items-center">
          <i
            class="{{
              meter()?.type === 0
                ? 'fa-solid fa-bolt'
                : meter()?.type === 1
                  ? 'fa-solid fa-droplet'
                  : 'fa-solid fa-fire-extinguisher'
            }}"></i>
          <span>
            {{ meter()?.location
            }}{{ meter()?.addition ? ' - ' + meter()?.addition : '' }}
            {{ translations.reading_readingDelta() }}</span
          >
        </div>
      }
      <select class="select m-4" [(ngModel)]="valuesCount">
        <option>6</option>
        <option selected>12</option>
        <option>24</option>
        <option>max</option>
      </select>
    </div>
    <div class="flex-1">
      <canvas
        baseChart
        [data]="chartData()"
        [options]="chartOptions"
        [height]="'100%'"
        [type]="'line'"></canvas>
    </div>
  </div>
  <div class="mr-4 hidden items-center justify-between md:flex">
    <p class="m-4 text-2xl">{{ translations.reading_readings() }}</p>

    @if (dataStore.readings().length > 0) {
      <button
        class="btn btn-circle btn-primary lg:tooltip lg:tooltip-left"
        [tooltip]="translations.export()"
        (click)="exportExcel()">
        <i class="fa-solid fa-file-export"></i>
      </button>
    }
  </div>
  <div class="max-h-fit flex-1 overflow-auto">
    <table class="table-pin-rows table h-full">
      <thead>
        <tr>
          <th>{{ translations.reading_reading() }}</th>
          <th>{{ translations.reading_readingDate() }}</th>
          <th style="width: 5rem">
            <button
              class="btn btn-circle btn-primary lg:tooltip lg:tooltip-left"
              [tooltip]="translations.add()"
              (click)="showNewDialog()">
              <i class="fa-solid fa-plus"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (reading of dataStore.readings(); track reading.id) {
          <tr>
            <td>
              <span>{{ reading.number | number: '' : 'de' }}</span>
            </td>
            <td>
              <span>{{ reading.readingDate | date: 'dd.MM.yyyy' }}</span>
            </td>
            <td>
              <button
                class="btn btn-circle btn-primary lg:tooltip lg:tooltip-left"
                [tooltip]="translations.edit()"
                (click)="showEditDialog(reading)">
                <i class="fa-solid fa-pencil"></i>
              </button>
            </td>
          </tr>
        }
        @if (dataStore.readings().length === 0) {
          <tr>
            <td colspan="3">{{ translations.noRecordsFound() }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<app-reading-dialog [meterId]="meterId()"></app-reading-dialog>
